body{
    background-image: url("image/back.jpg");
}
.container-max-widths{
     sm: 540px;
     md: 720px;
     lg: 960px;
     xl: 1140px;
     xxl: 1320px;
 }
.inpt{
    background-image: url("image/fire-57.gif");
    background-size: contain;
    background-position: center;

    background-color: rgba(114, 23, 23, 0.41);
    align-items: center;
   md-width: 100%;
    md-height:100%;
    color: #00f623;
    border-radius: 10px;

}
.cntree{


}
.oformlenie{


}


@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
    font-size: calc(20px + 18vh);
    line-height: calc(20px + 20vh);
    /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
      color: #fccaff; */
    text-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #ce001e;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
            text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
              0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #ce001e;
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
            text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
              0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #ce001e;
    }
}

.content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    position: relative;
    overflow: hidden;
    font-size: 1.5em;
}

.input-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("image/fire-57.gif");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: -2;
}

.input-wrapper:has(input:focus)::before,
.input-wrapper:has(input:hover)::before
{
    opacity: 1;
}

.input-wrapper input {
    padding: 0.5em 1em;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}



.content {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    position: relative;
    overflow: hidden;
}

.input-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1));
    background-position: center;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    z-index: -1;
}
